<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>

<h1>Registro de nuevo proveedor</h1>

<form action="/proveedor/nuevo" method="post">
    <label for="DNI">DNI /NIF</label>
    <input type="text" name="DNI" value="">
    <br>

    <label for="Nombre">Nombre</label>
    <input type="text" name="Nombre" value="">
    <br>

    <label for="Apellido">Apellido</label>
    <input type="text" name="Apellido" value="">
    <br>

    <label for="Email">Email</label>
    <input type="email" name="Email" value="">
    <br>

    <label for="Direccion">Dirección</label>
    <input type="text" name="Direccion" value="">
    <br>

    <label for="Localidad">Localidad</label>
    <input type="text" name="Localidad" value="">
    <br>

    <label for="Provincia">Provincia</label>
    <input type="text" name="Provincia" value="">
    <br>

    <label for="CP">CP</label>
    <input type="text" name="CP" value="">
    <br>

    <label for="Telefono">Telefono</label>
    <input type="text" name="Telefono" value="">
    <br>



    <input type="submit" value="Registrar">
</form>

</body>
</html>
