<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>

<body>
    <h1>Registro de nuevo empleado</h1>

    <form action="/empleado/nuevo" method="post">
        <label for="DNI">DNI</label>
        <input type="text" name="DNI" value="">
        <br>

        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" value="">
        <br>

        <label for="Apellido">Apellido</label>
        <input type="text" name="Apellido" value="">
        <br>

        <label for="Email">Email</label>
        <input type="email" name="Email" value="">
        <br>

        <label for="Direccion">Direcci칩n</label>
        <input type="text" name="Direccion" value="">
        <br>

        <label for="Localidad">Localidad</label>
        <input type="text" name="Localidad" value="">
        <br>

        <label for="Provincia">Provincia</label>
        <input type="text" name="Provincia" value="">
        <br>



        <label for="CP">CP</label>
        <input type="text" name="CP" value="">
        <br>

        <label for="Telefono">Telefono</label>
        <input type="text" name="Telefono" value="">
        <br>


        <div class="form-check">
            <input class="form-check-input" type="radio" name="Activo" id="tipo1" value="1">
            <label class="form-check-label" for="tipo1">
                Activo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Activo" id="tipo2" value="0">
            <label class="form-check-label" for="tipo2">
                No activo
            </label>
        </div>

        <br>

        <div class="form-group">
            <option selected>Elija un rol:</option>
            <select name="Tipo" class="form-control" id="Tipo">
                <option value="1">Usuario b치sico</option>
                <option value="2">Gestor</option>
                <option value="3">Administrador</option>

            </select>



        </div>

        



        <label for="Password">Contrase침a</label>
        <input type="password" name="Password" value="">
        <br>

        <label for="Repassword">Repita la contrase침a</label>
        <input type="password" name="Repassword" value="">
        <br>


        <input type="submit" value="Registrar">
    </form>

</body>

</html>