<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>


<h1>Registro de nuevo cliente</h1>

<form action="/cliente/nuevo" method="post">
    <label for="DNI">DNI</label>
    <input type="text" name="DNI" value="">
    <br>

    <label for="Nombre">Nombre</label>
    <input type="text" name="Nombre" value="">
    <br>

    <label for="Apellido">Apellido</label>
    <input type="text" name="Apellido" value="">
    <br>

    <label for="Email">Email</label>
    <input type="email" name="Email" value="">
    <br>

    <label for="Direccion">Dirección</label>
    <input type="text" name="Direccion" value="">
    <br>

    <label for="Localidad">Localidad</label>
    <input type="text" name="Localidad" value="">
    <br>

    <label for="Provincia">Provincia</label>
    <input type="text" name="Provincia" value="">
    <br>



    <label for="CP">CP</label>
    <input type="text" name="CP" value="">
    <br>

    <label for="Telefono">Telefono</label>
    <input type="text" name="Telefono" value="">
    <br>

   
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Activo" id="tipo1" value="1" checked>
        <label class="form-check-label" for="Tipo1">
            Activo
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Activo" id="tipo2" value="0">
        <label class="form-check-label" for="Tipo2">
            No activo
        </label>
    </div>

    <label for="Password">Contraseña</label>
    <input type="password" name="Password" value="">
    <br>

    <label for="Repassword">Repita la contraseña</label>
    <input type="password" name="Repassword" value="">
    <br>


    <input type="submit" value="Registrar">
</form>
 
{{#if error}}
    <p>{{error}}</p>
    {{/if}}

    </body>
</html>