<h1 class="text-center">Listado de proveedores</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">EMAIL</th>
    </tr>
  </thead>
  <tbody>

        {{#each proveedor}}
        <tr class="bg-light">
            <td>{{DNI}}</td>
            <td>{{Nombre}}</td>
             <td>{{Apellido}}</td>
            <td>{{Email}}</td>
        </tr>
        {{/each}}

  </tbody>
</table>
